USE [master]
GO
/****** Object:  Database [BEMS]    Script Date: 15/08/2025 14:08:07 ******/
CREATE DATABASE [BEMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BEMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BEMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BEMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BEMS_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BEMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BEMS]
GO
/****** Object:  Table [dbo].[cost]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cost](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[unit] [varchar](50) NOT NULL,
	[jan] [decimal](18, 2) NULL,
	[feb] [decimal](18, 2) NULL,
	[mar] [decimal](18, 2) NULL,
	[apr] [decimal](18, 2) NULL,
	[mei] [decimal](18, 2) NULL,
	[jun] [decimal](18, 2) NULL,
	[jul] [decimal](18, 2) NULL,
	[aug] [decimal](18, 2) NULL,
	[sep] [decimal](18, 2) NULL,
	[oct] [decimal](18, 2) NULL,
	[nov] [decimal](18, 2) NULL,
	[dec] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cost_year_unit] UNIQUE NONCLUSTERED 
(
	[year] ASC,
	[unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curing_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curing_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_point_configs]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_point_configs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[area] [varchar](50) NOT NULL,
	[device] [varchar](100) NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
	[pm_address] [varchar](100) NOT NULL,
	[pm_label] [varchar](100) NOT NULL,
	[holding_register] [int] NOT NULL,
	[data_type] [varchar](50) NOT NULL,
	[action_text] [varchar](255) NULL,
	[unit] [varchar](50) NULL,
	[formula] [varchar](255) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[energy_performance]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[energy_performance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[ACT] [decimal](10, 2) NOT NULL,
	[MP] [decimal](10, 2) NOT NULL,
	[FC] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_production_year_month] UNIQUE NONCLUSTERED 
(
	[year] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finishing_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finishing_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_affair_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_affair_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medium_voltage]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medium_voltage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](3) NOT NULL,
	[group_mv] [nvarchar](100) NOT NULL,
	[subgroup_mv] [nvarchar](100) NOT NULL,
	[voltage] [float] NOT NULL,
	[current] [float] NOT NULL,
	[frequency] [float] NOT NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
	[thd_v_l1] [float] NOT NULL,
	[thd_v_l2] [float] NOT NULL,
	[thd_v_l3] [float] NOT NULL,
	[thd_i_l1] [float] NOT NULL,
	[thd_i_l2] [float] NOT NULL,
	[thd_i_l3] [float] NOT NULL,
	[active_power_kw] [float] NOT NULL,
	[reactive_power_kvar] [float] NOT NULL,
	[apparent_power_kva] [float] NOT NULL,
	[power_factor] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mixing_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mixing_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modbus_devices]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modbus_devices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[ip_address] [nvarchar](50) NOT NULL,
	[port] [int] NOT NULL,
	[unit_id] [int] NOT NULL,
	[is_connected] [bit] NULL,
	[last_seen] [datetime] NULL,
	[group_mv] [nvarchar](50) NULL,
	[subgroup_mv] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_targets]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_targets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[kwhTarget] [decimal](18, 2) NOT NULL,
	[author] [varchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_target_month_year] UNIQUE NONCLUSTERED 
(
	[month] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_entries]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_entries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[ACT] [decimal](10, 2) NOT NULL,
	[MP] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rnd_lab_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rnd_lab_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semifinishing_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semifinishing_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[value] [varchar](255) NOT NULL,
	[published] [datetime] NOT NULL,
	[unit] [varchar](50) NULL,
	[author] [varchar](100) NULL,
	[start_datetime] [datetime2](7) NULL,
	[end_datetime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temperatur]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temperatur](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[group_mv] [varchar](50) NOT NULL,
	[subgroup_mv] [varchar](50) NOT NULL,
	[temperature] [decimal](5, 2) NOT NULL,
	[timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tyre_building_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tyre_building_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_detail]    Script Date: 15/08/2025 14:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime2](7) NULL,
	[power_meter] [nvarchar](100) NULL,
	[stand_kwh] [float] NOT NULL,
	[stand_kvarh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[data_point_configs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[energy_performance] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[energy_performance] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT (sysdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_v_l1]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_v_l2]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_v_l3]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_i_l1]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_i_l2]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [thd_i_l3]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [active_power_kw]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [reactive_power_kvar]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [apparent_power_kva]
GO
ALTER TABLE [dbo].[medium_voltage] ADD  DEFAULT ((0)) FOR [power_factor]
GO
ALTER TABLE [dbo].[modbus_devices] ADD  DEFAULT ((0)) FOR [is_connected]
GO
ALTER TABLE [dbo].[monthly_targets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[monthly_targets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[production_entries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_entries] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT (getdate()) FOR [published]
GO
ALTER TABLE [dbo].[temperatur] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
